.sidebar {
  background-color: #F8F8F8;
  padding: 35px 30px;
}

.main {
  margin: 10px;
  display: flex;
  justify-content: center;
}

.sidebar-link {
  font-size: 20px;
  font-weight: 700;
  color: #999999;
}
