.sidebar {
  padding: 35px 30px;
  background-color: #F8F8F8;
}

.main {
  display: flex;
  justify-content: center;
}

.sidebar-link {
  font-size: medium;
  font-weight: 700;
  color: #999999;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-header-container {
  background-color: #F8F8F8;
  width: 100%;
  padding: 10px;
  -webkit-box-shadow: 0px 3px 3px rgba(100, 100, 100, 0.29);
  -moz-box-shadow:    0px 3px 3px rgba(100, 100, 100, 0.29);
  box-shadow:         0px 3px 3px rgba(100, 100, 100, 0.29);
}
.content-header-button {
  text-decoration: none;
  color: #999999;
  font-size: 24px;
  font-weight: 700;
  padding: 0;
}
