.table-main {
  background-color: #F8F8F8;
  border-radius: 5px;
  /* table-layout: auto !important; */
}
/* .table-wrapper {
  overflow-x: scroll;
} */

/* .table {
  overflow: auto;
  table-layout: auto;
  display: block;
  min-width: 100%;
} */

.table-cell {
  word-wrap: break-word;
}

.bootstrap-table-header {
  background-color: #E8E7FD;
  font-size: 14px;
}
